.wrapper
  .main-content
    = render 'layouts/notifications'
    .info-header
      .self-info
        検索結果
    - if @users.empty?
      %p
        一致するユーザーはいません
    -# -else

    -# .info-header
    -#   - if current_user.id == @user.id
    -#     .self-info
    -#       あなたがフォローしている人
    -#   -else
    -#     .another-info
    -#       .another-info__header
    -#         #{@user.name}さんがフォローしている人
    -#       = render partial: 'user-status', locals: { user: @user } 
    -# - if @user.inverse_followers.empty?
    -#   %p
    -#     フォローしている人がいません
    .users
      = render partial: 'user', collection: @users
  = render "posts/side_bar"
