.header{
  background-color: #fff5ee ;
  height: 60px;
  width: 100%;

  &__nav{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-img{
      a{
        padding: 0 15px;
        text-align: center;
        text-decoration: none;
        color: #fa8072;
        font-weight: bold;
        font-size: 30px;
      }
    }
    .search-box{
      display: flex;

      .search-form{
          // display: flex;
          margin: 5px;
          height: 30px;

          .search-input{
            width: 220px;
            text-align: center;
            font-size: 15px;

          }
          .search-btn{
            background-color: salmon;
            margin-left: 25px;
            border: none;
            // padding: 5px 10px;
            border-radius: 10px;
            font-size: 18px;
            padding: 0 10px;
            width: 70px;
          }
        }
        .search-post{
          margin-right: 30px;
        }
      }

    .user-nav{
      width:150px;
      height: 60px;
      text-align: right;

    .dropdown-btn {
      color: yellowgreen;
      position:relative;
      display:inline-block;
      padding:10px;
      cursor:pointer;
      font-size: 20px;
      line-height: 40px;
      &::hover {
        background:#ffa07a;
      }
    }
    .dropdown {
      z-index:1000;
      background:#ffa07a;
      position:absolute;
      right:0;
      top:60px;
      width:120px;
      padding:10px 20px;
      display:none;
      li {
        display:block;
        margin:10px 0;
        text-align: center;
        a {
          font-size: 15px;
          color:#fff;
          text-decoration: none;
        }
      }
    }
    .open {
      display:block;
    }
    .close {
      display:block;
    }
  }

    .first-view-menu{
      width: 150px;
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      line-height: 40px;
      a{
        text-decoration: none;
        font-size: 15px;
        color: black;
      }
    }
  }
}
