
.notification {
    height: 40px;
    position: fixed;
    width: 700px;
    line-height: 40px;
  .notice {
    background-color: lightblue;
    color: #ffffff;
    text-align: right;
    padding-right: 20px;
  }

  .alert {
    background-color: orange;
    color: #ffffff;
    text-align: right;
    padding-right: 20px;

  }
}