.notification {
    height: 40px;
    position: fixed;
    width: 1000px;
    line-height: 40px;
  .notice {
    background-color: lightblue;
    color: #ffffff;
    text-align: center;
  }

  .alert {
    background-color: orange;
    color: #ffffff;
    text-align: center;
  }
}