@media (min-width: 1001px){
  #wrapper{
    display: none;
  }

  #self-activity{
    display: none;
  }
}


@media (max-width: 1000px){

  .user-wrapper{
    width: 100%;
    height: auto;

  }


  .wrapper{
    width: 100%;
    .main-content{
      width: 100%;
      height: calc(100vh - 7vh);
      .info-header{
        .another-info{
          height: 220px;
        }
      }
    }
    .side-bar{
      display: none;
    }
    .first-view-menu{
      a{
        text-decoration: none;
        color: black;
        
      }
    }
  }
  #hamburger{
    display: block;
    
  }
  .header{
    display: none;
  }
  .notification{
    width: 100%;
  }
  
  #wrapper{
    background-color: #fa8072;
    display: flex;
    justify-content: space-between;
    .title{
      text-decoration: none;
      color: white;
      line-height: 7vh;
    }

    .new-post{
      line-height: 7vh;
      color: white;
      margin-right: 10px;
      i{
        border: 2px solid white;
        padding: 3px;
      }
    }
  }
  .nav-toggle{
    color: white;
    height: 7vh;
    &__icon{
      line-height: 7vh;
      margin-left: 10px;
    }
  }
  
  .gloval-nav {
    background: #fa8072;
    width: 60%;
    margin-top: 7vh;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 990;
    text-align: left;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    font-size: 20px;
    padding: 20px;
    opacity: 0;
    transition: opacity .6s ease, visibility .6s ease;
    a{
      text-decoration: none;
      color: white;
    }
}
.open {
    visibility: visible;
    opacity: 1;
}


// newページの装飾
  .form-post{
    display: flex;
    justify-content: center;
    flex-direction: column;

    .form-text{
      width: 100%;
      margin: 15px auto;
      padding: 10px;
      height: calc( 1.8em * 3 );
      line-height: 1.8;
      resize: none;
    }

    #image-box{
      margin: 0 15px;

      #previews{
        display: flex;
        justify-content: center;
      }

      .js-file_preview{
        position: relative;
        padding: 2px;

        .js-remove{
          display: block;
          cursor: pointer;
          background-color: rgba(105,105,105,0.8);
          color: white;
          position: absolute;
          top: 5px;
          left: 5px;
          width: 20px;
          text-align: center;
          font-size: 15px;
          border-radius: 10px;
        }

        .js-file_group{
          cursor: pointer;
          color: white;
          p{
            color: #white;
            text-align: center;
            font-size: 15px;
          }
        }
      }
      .js-file_group{
        label{
          color: white;
          background-color: #fa8072;
          padding: 5px 10px;
          display: block;
          font-size: 15px;
          cursor: pointer;
          .no-disply{
            display: none;
          }
        }
      }
      .btm-wrapper{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;

        #image-form{
          width: 47%;

          .js-file_group{
            label{
              color: white;
              background-color: #fa8072;
              padding: 5px 10px;
              display: block;
              font-size: 15px;
              cursor: pointer;
              text-align: center;
              .no-disply{
                display: none;
              }
            }
          }
        }

        .form-btn{
          width: 47%;
          background-color: #fa8072;
          color: white;
          border: none;
          padding: 5px 10px;
          font-size: 15px;
          cursor: pointer;
        }
      }
    }
  }
}

