.wrapper
  = render "main_content"
  = render "side_bar"






-# = @apost.created_at
-# #{@apost.images.image_url}
-# = image_tag @apost.images.image_url.url
-# = image_tag current_user.image.url
-# img src="/posts/send_img?id=1"
-# = image_tag{url_for(:controller => 'image', :action => 'index', :id => 47)}
-# img src: ""
-# = image_tag @image.image_url.to_s
-# = image_tag @apost.images.image_url.to_s

-# - @images.each do |image|
-#   - if image.image_url.present?
-#     = image_tag image.image_url.url

-# = @apost.images.each do |image|
-#   = image_tag image.image_url.url
