.wrapper
  .main-content
    = render 'layouts/notifications'
    .info-header
      .self-info
        検索結果
    - if @posts.empty?
      %p
        一致する投稿がありません
    -# -else
    .posts
      = render partial: 'post', collection: @posts
  = render "side_bar"



