.wrapper
  .main-content
    = render 'layouts/notifications'
    .info-header
      .self-info
        フォローしている人の投稿
    - if @posts.empty?
      %p
        表示する投稿がありません
    -else
    .posts
      = render partial: 'layouts/post', collection: @posts

  = render "side_bar"
