.user-wrapper{
  height: calc(100vh - 60px);
  width: 1000px;
  margin: 0 auto;
  background-color:#fffff0;

  // ログイン画面
  .sessions-new{
    #flash_alert{
      color: #fa8072;
      font-size: 15px;
    }
    width: 60%;
    margin: 0 auto;
    padding-top: 50px;
    h1{
      text-align: center;
      font-size: 30px;
      font-weight: bold;
    }
    .label{
      display: block;
      margin-bottom: 5px;
    }
    .new_user{
      text-align: center;
      >div{
        margin: 20px 0;
        >input{
          height: 40px;
          text-align: center;
          &::placeholder{
            text-align: center;
          }
        }
        .submit-btn{
          background-color: #fa8072;
          color: white;
          font-weight: bold;
          border: none;
          padding: 5px 10px;
        }
      }
    }
    a{
      text-decoration: none;
      color: gray;
      text-align: center;
      display: block;
      font-size: 15px;
    }
  }

  // 新規登録画面
  .registration-new{
    #error_explanation{
      ul{
        li{
          font-size: 15px;
          color: #fa8072;
        }
      }
    }
    width: 60%;
    margin: 0 auto;
    padding-top: 50px;
    h1{
      text-align: center;
      font-size: 30px;
      font-weight: bold;
    }
    .label{
      display: block;
      margin-bottom: 5px;
    }
    .new_user{
      text-align: center;
      >div{
        margin: 20px 0;
        >input{
          height: 40px;
          text-align: center;
          &::placeholder{
            text-align: center;
          }
        }
        .submit-btn{
          background-color: #fa8072;
          color: white;
          font-weight: bold;
          border: none;
          padding: 5px 10px;
        }
      }
    }
    a{
      text-decoration: none;
      color: gray;
      text-align: center;
      display: block;
      font-size: 15px;
    }
  }

  // ユーザー情報編集
  .edit-form{
    padding-top: 20px;
    width: 60%;
    margin: 0 auto;
    h1{
      text-align: center;
      font-size: 30px;
      font-weight: bold;
    }
    .label{
      display: block;
      margin-bottom: 5px;
    }
    .edit_user{
      text-align: center;
      >div{
        margin: 20px 0;
        >input{
          height: 40px;
          text-align: center;
          width: 50%;
          &::placeholder{
            text-align: center;
          }
        }
        .update-btn{
          background-color: #fa8072;
          color: white;
          font-weight: bold;
          border: none;
          padding: 5px 10px;
          cursor: pointer;
        }
      }
      .edit-form__image{
        .current-image{
          width: 180px;
          text-align: center;
          margin: 0 auto;
          img{
            border-radius: 50%;
            width: 120px;
            height: 120px;
            border: 1px solid #8b4513;
          }
        }
        .no-image{
          width: 110px;
          height: 110px;
          background-color: floralwhite;
          border-radius: 50%;
          text-align: center;
          line-height: 110px;
          font-size: 20px;
          color: darkgray;
          border: 1px solid #8b4513;
          margin: 0 auto;
        }
        .image_input_btn{
          background-color: #fa8072;
          color: white;
          display: block;
          width: 50%;
          margin: 10px auto ;
          text-decoration: none;
          text-align: center;
          cursor: pointer;
          padding: 5px 10px;
        }
        .image_form{
          display: none;
        }
        p{
          font-size: 15px;
        }
      }
    }
    .pass{
      a{
        text-decoration: none;
        font-size: 15px;
        color: #fa8072;
        background-color: white;
        border: 1px solid #fa8072;
        width:300px;
        display: block;
        margin: 0 auto;;
        text-align: center;
        padding: 5px 10px;
      }
    }
  }

// パスワードの変更画面
  .edit-form__pass{
    #error_explanation{
      ul{
        li{
          font-size: 15px;
          color: indianred;
        }
      }
    }
    width: 60%;
    margin: 0 auto;
    padding-top: 20px;
    h1{
      text-align: center;
      font-size: 30px;
      font-weight: bold;
    }
    .label{
      display: block;
      margin-bottom: 5px;
    }
    .edit_user{
      text-align: center;
      >div{
        margin: 20px 0;
        >input{
          width: 50%;
          height: 40px;
          text-align: center;
          &::placeholder{
            text-align: center;
          }
        }
        .update-btn{
          background-color: #fa8072;
          color: white;
          font-weight: bold;
          border: none;
          padding: 5px 10px;
        }
        .pass-length{
          margin-top: 10px;
          font-size: 15px;
        }
        .submit-btn{
          background-color: #fa8072;
          color: white;
          font-weight: bold;
          border: none;
          padding: 5px 10px;
        }
      }
    }
    a{
      text-decoration: none;
      color: gray;
      text-align: center;
      display: block;
      font-size: 15px;
    }
  }
  .delete-box{
    text-align: center;
    width: 50%;
    margin: 50px auto 0;
    .delete-btn{
      background-color: white;
      border: 1px solid #fa8072;
      padding: 5px 10px;
      a{
        text-decoration: none;
        color: #fa8072;
        font-weight: bold;
        text-align: center;
      }
    }
  }
  .back-btn{
    margin: 20px auto;
    border: 1px solid #fa8072;
    background-color: white;
    padding: 5px 10px;
    width: 50%;
    a{
      color: #fa8072;
    }
  }
}

