
.user-edit-wrapper{
  height: calc(100vh - 60px);
  width: 1000px;
  margin: 0 auto;
  background-color:#fffff0;

  .edit-form{
    margin: 0 auto;
    width: 500px;
    text-align: center;

    h1{
      text-align: center;
      font-weight: bold;
      font-size: 30px;
      padding: 20px 0;
    }

    &__image{
      display: flex;
      justify-content: space-around;

      .current-image{
        width: 180px;
        text-align: center;

        img{
          border-radius: 50%;
          width: 120px;
          height: 120px;
          border: 1px solid #8b4513;
        }

        .no-image{
          width: 110px;
          height: 110px;
          background-color: floralwhite;
          border-radius: 50%;
          text-align: center;
          line-height: 110px;
          font-size: 20px;
          color: darkgray;
          border: 1px solid #8b4513;
        }
      }
      .image-label-wrapper{
        width: 280px;

        p{
          font-size: 15px;
        }

        .image_input_btn{
          background-color: #66cdaa;
          font-size: 18px;
          display: block;
          width: 160px;
          height: 40px;
          line-height: 40px;
          margin: 20px 0 10px 0;
          border-radius: 5px;
          // padding-top: 2px;
          text-decoration: none;
          text-align: center;
          cursor: pointer;
        }

        .image_form{
          display: none;
        }

      }
    }

    &__name{
      display: flex;
      justify-content: space-around;
      margin-bottom: 10px;

      .name-label{
        width: 180px;
        text-align: right;
      }
      .name-form{
        width: 280px;
      }

    }

    &__bio{
      display: flex;
      justify-content: space-around;
      margin-bottom: 10px;
      .bio-label{
        width: 180px;
        text-align: right;
      }
      .bio-form{
        width: 280px;
        height: 100px;
      }
    }

    &__email{
      display: flex;
      justify-content: space-around;
      margin-bottom: 10px;
      .email-label{
        width: 180px;
        text-align: right;
      }
      .email-form{
        width: 280px;
      }
    }

    &__password{
      display: flex;
      justify-content: space-around;
      margin-bottom: 10px;
      .password-label{
        width: 180px;
        text-align: right;
      }
      .password-form{
        width: 280px;
      }

    }

    .pass-length{
      text-align: right;
      color: black;
      font-size: 15px;
    }

    .edit-btn{
      margin-top: 20px;
      text-align: center;

      .update-btn{
        background-color: #66cdaa;
        width: 150px;
        height: 40px;
        border: none;
        // border: 1px solid black;
        border-radius: 5px;
      }
    }
    .check-box{
      margin-top: 20px;
    }
    .submit-btn{
      margin-top: 20px;
      background-color: #66cdaa;
      width: 150px;
      border: none;
      height: 40px;
      
      border-radius: 5px;
    }
    a{
      display: inline-block;
      // margin-top: 20px;
      text-decoration: none;
      color: lightslategray;
    }
  }

  .pass{
    text-align: center;
    margin-top: 60px;

    a{
      text-decoration: none;
      font-size: 16px;
      color: black;
      background-color: #ff7f50;
      // border: 1px solid black;
      display: inline-block;
      height: 30px;
      width: 300px;
      text-align: center;
      line-height: 30px;
      border-radius: 5px;

    }
  }
  .detele-box{
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
  
    .delete-btn{
      background-color: #ff7f50;
      width: 200px;
      border: none;
      border-radius: 5px;
      text-align: center;
      height: 40px;
      line-height: 40px;
      margin: 0;
      a{
        text-decoration: none;
        color: black;
        text-align: center;
        
      }
    }
  }
  .back-btn{
    margin-top: 40px;
  }
}

